# dependencies
pnpm-lock.yaml

# build artifacts
**/dist
**/dist-tsc
**/.next
**/public

# coverage
**/.nyc_output
**/coverage

packages/app/storybook-static
packages/app/test-results
packages/web/public
